.asanaExtras_summary {
	background-color: lightgreen;
	color: black;
	font-size: 11px;
	border-radius: 3px;
	font-weight: 600;
	white-space: nowrap;
	position: relative;
	padding: 2px 4px;
}

.asanaExtras_warn {
	background-color: orange;
	color: black;
}

.asanaExtras_bad {
	background-color: red;
}

.asanaExtras_today {
	font-size: 16px;
}

.asanaExtras_notime {
	font-weight: bold;
}

.bar {
	padding-right: 150px !important;
}
